:root {
  --main-color: #622132;
  --background-color: #f8f9fa;
  --text-color: #555;
  --link-color: #622132;
  --link-hover-color: #44181f;
}

.scroll-wrapper {
  width: 90%; /* Ajusta el ancho al 90% para dispositivos móviles */
  max-width: 20rem; /* Máximo ancho para pantallas más grandes */
  height: 50vh; /* Usa una altura relativa a la pantalla para mejorar la adaptación */
  border: 2px solid var(--main-color);
  margin: 1rem auto;
  background-color: var(--background-color);
  z-index: 1;
  position: fixed;
  top: 10vh; /* Ajusta la posición para que quede visible en la mayoría de las pantallas */
  right: 1rem;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.scroll-content {
  height: auto;
  position: relative;
  padding: 1rem;
}

.activity-item {
  font-weight: bold;
  margin-top: 1.25rem;
}

.activity-item a {
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.activity-item a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

.activity-meta {
  font-size: 0.8rem;
  color: var(--text-color);
  margin-bottom: 0.625rem;
}

h1.text-center {
  background-color: var(--main-color);
  color: #ffffff;
  padding: 1rem;
  font-size: 1.25rem; /* Ajusta el tamaño de fuente para dispositivos móviles */
  margin: 0;
  text-align: center;
  position: relative;
  z-index: 10;
  box-sizing: border-box;
  border-radius: 8px 8px 0 0;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #622132;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1;
  text-align: center;
  z-index: 20;
  transition: background-color 0.3s ease;
}

.close-button:hover {
  background-color: #44181f;
}

/* Media query para dispositivos móviles */
@media (max-width: 600px) {
  .scroll-wrapper {
    width: 95%; /* Ancho casi completo en pantallas pequeñas */
    height: 40vh; /* Reduce la altura para evitar ocupar demasiado espacio */
    top: 5vh; /* Ajusta la posición superior para un mejor ajuste */
    right: 2.5%; /* Centra el contenedor horizontalmente */
  }

  h1.text-center {
    font-size: 1rem; /* Reduce el tamaño de la fuente del título para pantallas pequeñas */
    padding: 0.75rem; /* Reduce el padding para ajustarse a pantallas pequeñas */
  }

  .close-button {
    width: 20px;
    height: 20px;
    top: 5px;
    right: 5px;
    font-size: 0.9rem; /* Ajusta el tamaño de la fuente del botón de cierre */
  }
}
