body, html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    margin: 0;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1030;
    background-color: #622132;
    color: #fff;
}

.navbar-brand, .nav-link {
    color: #fff !important;
}

.nav-link:hover, .dropdown-item:hover {
    background-color: #333;
    color: #fff !important;
}

.dropdown-item {
    color: #000 !important;
}

h1, h2, h3 {
    color: #622132;
    margin-top: 20px;
     text-align: center;
}

.section-header {
    padding: 20px;
    border-bottom: 2px solid #622132;
    margin-bottom: 20px;
}

.container {
    margin-top: 20px;
    padding-bottom: 40px;
}

.footer {
    background-color: #4b1624;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer a {
    color: #fff;
    text-decoration: underline;
}

.footer a:hover {
    color: #ddd;
}

.btn-primary {
    background-color: #622132;
    border-color: #622132;
}

.btn-primary:hover {
    background-color: #4b1624;
    border-color: #4b1624;
}

.content-wrapper {
    min-height: calc(100vh - 140px);
}

.impact-icon {
    transition: transform 0.3s ease-in-out;
}

.impact-icon:hover {
    transform: scale(1.2);
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.counter {
    font-size: 2.5rem;
    font-weight: bold;
}



/* CSS para reducir el tamaño del footer en dispositivos móviles */
@media (max-width: 768px) {
  .footer-conacyt {
    padding: 10px 0;
    font-size: 12px;
  }

  .footer-conacyt .container {
    padding: 0;
  }

  .footer-conacyt .row > div {
    margin-bottom: 10px;
    text-align: center;
  }

  .footer-conacyt img {
    width: 100px;
    height: auto;
  }

  .footer-conacyt p {
    margin: 5px 0;
  }

  .footer-conacyt h5 {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .footer-conacyt .list-inline-item {
    margin-right: 10px;
  }

  .footer-conacyt .fab {
    font-size: 1.5rem;
  }

  .contador h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .footer-conacyt {
    padding: 5px 0;
    font-size: 10px;
  }

  .footer-conacyt img {
    width: 80px;
    height: auto;
  }

  .footer-conacyt h5 {
    font-size: 12px;
  }

  .footer-conacyt .fab {
    font-size: 1.2rem;
  }

  .contador h1 {
    font-size: 1.2rem;
  }
} 
